@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc");
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f93b1d;
  --heading-color: #1a1a1a;
  --btn-color: #6b40e3;
  --btn-light: #62a1eb;
  --error-color: #e52f2f;
  --success-color: #98e37e;
  --undernline-text: #a9a9a9;
  --max-width: 800px;
}

body {
  font-family: "HelveticaNeue";
}

.final-cv {
  border: 1px solid #000000;
  width: 822px;
  margin-left: 30%;
  overflow: scroll;
}

.final-cv .cv {
  display: flex;
}

.final-cv .cv-username {
  display: flex;
  margin-left: 80px;
  margin-top: 68px;
}

.final-cv .cv-username .log,
.final-cv .cv-username .surname {
  left: 80px;
  font-size: 34px;
  color: var(--secondary-color);
  font-weight: bold;
  width: 123px;
  height: 42px;
}
.final-cv .cv-username-img .image-div img {
  border-radius: 50%;
  width: 246px;
  height: 246px;
  margin-top: 68px;
  margin-right: 75px;
}

.final-cv .cv .email,
.final-cv .cv .phone-number {
  display: flex;
  margin-left: 80px;
  font-size: 20px;
}

.final-cv .cv .email img,
.final-cv .cv .phone-number img {
  object-fit: contain;
}

.final-cv .cv .phone img {
}
