@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc");
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f93b1d;
  --heading-color: #1a1a1a;
  --btn-color: #6b40e3;
  --btn-light: #62a1eb;
  --error-color: #e52f2f;
  --success-color: #98e37e;
  --undernline-text: #a9a9a9;
  --max-width: 800px;
}

body {
  font-family: "HelveticaNeue";
}

main {
  display: flex;
}

.chevron-left {
  width: 9.21px;
  height: 16px;
  margin-left: 62px;
  margin-top: 57px;
  position: absolute;
}

.cv-logo-img {
  margin-top: 4rem;
  margin-left: 77px;
  margin-bottom: 44px;
  width: 42px;
  height: 42px;
}

.underline {
  height: 1px;
  width: 662px;
  background-color: #a9a9a9;
  margin-left: 80px;
  margin-top: 50px;
}

.cv {
  margin: 54px 52px 129px 549px;
  border: 1px solid #000000;
  width: 822px;
  min-height: 1000px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cv .personal-info .name {
  margin-top: 68px;
  margin-left: 80px;
  display: flex;
}

.cv .personal-info .name .log {
  margin-right: 20px;
  font-size: 34px;
  font-weight: bold;
  color: var(--secondary-color);
}

.cv .personal-info .name .surname {
  font-size: 34px;
  font-weight: bold;
  color: var(--secondary-color);
}

.cv .personal-info .email-phone {
  margin-top: 17px;
  margin-left: 80px;
}

.cv .personal-info .email-phone .email,
.cv .personal-info .email-phone .phone-number {
  display: flex;
  margin-bottom: 10px;
  font-size: 22px;
}

.cv .personal-info .email-phone .email img,
.cv .personal-info .email-phone .phone-number img {
  margin-right: 12px;
}

.cv .personal-info .about-div h1 {
  font-size: 23px;
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 15px;
}

.cv .personal-info .about-div {
  width: 432px;
  margin-left: 80px;
  margin-top: 34px;
  font-size: 20px;
  line-height: 1.2em;
}

.cv .personal-info .image-div img {
  width: 246px;
  height: 246px;
  border-radius: 50%;
  margin-top: 48px;
  margin-right: 75px;
}

.cv .image-flex {
  display: flex;
}

.cv .job-info .position-employer {
  display: flex;
  margin-left: 80px;
  font-size: 19px;
}

.cv .job-info .position-employer .log-position {
  margin-right: 10px;
}

.cv .job-info .position-heading {
  margin-left: 80px;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 21px;
  color: var(--secondary-color);
  font-weight: bold;
}

.cv .job-info .job-info-date {
  margin-left: 80px;
  color: var(--undernline-text);
  display: flex;
  margin-top: 7px;
}

.cv .job-info .job-info-date .log-date-first {
  margin-right: 10px;
}

.cv .job-info .log-second-about {
  margin-left: 80px;
  width: 662px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.2em;
}

.cv .education-info .education-place-header {
  color: var(--secondary-color);
  margin-left: 80px;
  margin-top: 26px;
  font-size: 22px;
  font-weight: bold;
}

.cv .education-info .quality-place {
  display: flex;
  margin-left: 80px;
  margin-top: 15px;
}

.cv .education-info .quality-place .log-quality {
  margin-right: 10px;
}

.cv .education-info .log-quality-date {
  margin-left: 80px;
  color: var(--undernline-text);
  margin-top: 7px;
}

.cv .education-info .log-third-area {
  margin-left: 80px;
  width: 662px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.2em;
}

.popup {
  width: 427px;
  height: 167px;
  display: flex;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: bold;
  visibility: hidden;
  margin-top: 53px;
}

.popup .popup-body {
  padding-top: 35px;
  padding-left: 30px;
  line-height: 1.8em;
}

.popup .close-button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
}
