:root {
  --primary-color: #ffffff;
  --secondary-color: #f93b1d;
  --heading-color: #1a1a1a;
  --btn-color: #6b40e3;
  --btn-light: #62a1eb;
  --error-color: #e52f2f;
  --success-color: #98e37e;
  --undernline-text: #a9a9a9;
  --max-width: 800px;
}

.cv-logo-img {
  position: absolute;
  margin-left: 80px;
  bottom: 44px;
}

.hide {
  display: none;
}

.btn-add {
  color: var(--primary-color);
  background-color: var(--btn-light);
  padding: 14px 21px;
  border: none;
  border-radius: 4px;
  margin-top: 45px;
  font-size: 20px;
}

.underline-left {
  width: 798px;
  height: 1px;
  background-color: var(--undernline-text);
  margin-top: 59px;
}

.general-left .position {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
}

.general-left .position label {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.general-left .position input {
  width: 794px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  outline: none;
  font-size: 22px;
}

.general-left .position p {
  color: var(--undernline-text);
  margin-top: 8px;
}

.general-left .employer {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
}

.general-left .employer label {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.general-left .employer input {
  width: 794px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  outline: none;
  font-size: 22px;
}

.general-left .employer p {
  color: var(--undernline-text);
  margin-top: 8px;
}

.general-left .work-date {
  display: flex;
  margin-top: 31px;
  justify-content: space-between;
}

.general-left .work-date .date-box {
  display: flex;
  flex-direction: column;
}

.general-left .work-date .date-box label {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}

.general-left .work-date .date-box input {
  width: 340px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  outline: none;
  font-size: 22px;
  padding: 0 14px;
}

.general-left .about-work {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
}

.general-left .about-work label {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: bold;
}

.general-left .about-work textarea {
  height: 103px;
  padding: 13px 16px;
  font-size: 22px;
  border: 1px solid #bcbcbc;
  overflow: scroll;
  resize: none;
  outline: none;
}

.general-left .change-page-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.general-left .position-input-div {
  position: relative;
  width: fit-content;
}

.general-left .position-input-div .position-input-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.general-left .employer-input-div {
  position: relative;
  width: fit-content;
}

.general-left .employer-input-div .employer-input-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

#general-right .cv-part-second {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
}

#general-right .cv-part-second .position-employer p {
  font-size: 20px;
}

#general-right .cv-part-second .position-employer {
  margin-left: 80px;
  margin-top: 24px;
}

#general-right .cv-part-second .position-employer .positioning-date {
  display: flex;
}

#general-right
  .cv-part-second
  .position-employer
  .positioning-date
  .log-position {
  margin-right: 7px;
}

#general-right .cv-part-second .position-heading h1 {
  font-size: 25px;
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 15px;
}

#general-right .cv-part-second .position-employer .log-position,
#general-right .cv-part-second .position-employer .log-employer {
  font-size: 22px;
  font-weight: bold;
}

#general-right .cv-part-second .log-date {
  display: flex;
  margin-left: 80px;
  margin-top: 7px;
}

#general-right .cv-part-second .log-date .log-date-first {
  margin-right: 7px;
}

#general-right .cv-part-second .log-date .log-date-first,
#general-right .cv-part-second .log-date .log-date-second {
  color: var(--undernline-text);
}

#general-right .cv-part-second .log-second-about {
  margin-left: 80px;
  margin-top: 16px;
  width: 600px;
  line-height: 22px;
  font-size: 23px;
  word-break: break-all;
}
