@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc");
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f93b1d;
  --heading-color: #1a1a1a;
  --btn-color: #6b40e3;
  --btn-light: #62a1eb;
  --error-color: #e52f2f;
  --success-color: #98e37e;
  --max-width: 800px;
}

body {
  font-family: "HelveticaNeue";
}

.page-flex {
  display: flex;
}

.error-label {
  color: var(--error-color);
}

.error {
  border-color: var(--error-color) !important;
}

.success {
  border-color: var(--success-color) !important;
}

.container {
  overflow: hidden;
  margin: auto;
  width: var(--max-width);
}

a {
  text-decoration: none;
}

.btn-changePG {
  padding: 16px 35px;
  background-color: var(--btn-color);
  color: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  border: none;
}

.general-left {
  background-color: #f9f9f9;
  width: 1098px;
  height: 100vh;
}

#main-header {
  display: flex;
}

.general-left .vector {
  width: 9.21px;
  height: 16px;
  margin-left: 62px;
  margin-top: 57px;
  position: absolute;
}

#main-header .header-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--heading-color);
}

#main-header .header-heading h1 {
  width: 179px;
  height: 29px;
  margin-top: 47px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
}

#main-header .header-heading p {
  width: 29px;
  height: 24px;
  margin-left: 580px;
  margin-top: 49px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-right: 57px;
}

.form-box p {
  color: var(--undernline-text);
}

.form-box label {
  width: 371px;
  height: 21px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  font-family: "HelveticaNeue";
}

.form-box input {
  box-sizing: border-box;
  width: 360px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  font-size: 22px;
  margin: 8px 0;
  border: 1px solid #bcbcbc;
  outline: none;
}

.form-box .input-div {
  position: relative;
  width: fit-content;
}

.form-box .input-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.form-box .surname-input-div {
  position: relative;
  width: fit-content;
}

.form-box .surname-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.mail-input-div {
  position: relative;
}

.mail-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.phone-input-div {
  position: relative;
  width: fit-content;
}

.phone-icon {
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.username {
  display: flex;
  margin-top: 77px;
}

.add-photo {
  margin-top: 54px;
  display: flex;
  align-items: center;
}

.add-photo p {
  font-size: 20px;
  margin-right: 19px;
  color: var(--heading-color);
  font-weight: bold;
}

.add-photo label {
  background-color: #0e80bf;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 19px;
  padding: 4px 9px;
}

.about-info {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.about-info label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.about-info textarea {
  height: 103px;
  padding: 13px 16px;
  font-size: 18px;
  overflow: scroll;
  resize: none;
  border: 1px solid #bcbcbc;
  outline: none;
}

.mail-phone {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-bottom: 29px;
}

.mail-phone input {
  width: 794px;
  height: 48px;
  font-size: 20px;
  border: 1px solid #bcbcbc;
  outline: none;
}

.mail-phone label {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.mail-phone p {
  margin-top: 8px;
  color: #a9a9a9;
}

.general-left .change-page {
  margin-top: 80px;
  float: right;
}
#general-right .cv {
  margin-left: 80px;
  margin-top: 65px;
  display: flex;
}

#general-right .cv-username {
  display: flex;
}

#general-right .cv-username .log {
  margin-right: 20px;
}

#general-right .cv-info {
  width: 450px;
}

#general-right .cv-info .log,
#general-right .cv-info .surname {
  font-size: 34px;
  color: var(--secondary-color);
  font-weight: bold;
  letter-spacing: -2px;
}

#general-right .cv-info p {
  font-size: 25px;
}

#general-right .cv-info .phone-number {
  margin-top: 8px;
}

.cv-info .email {
  margin-top: 17px;
}

.cv-info .phone-number {
  margin-bottom: 34px;
}

.cv-info .email,
.cv-info .phone-number {
  display: flex;
  align-items: center;
}

.cv-info .email img,
.cv-info .phone-number img {
  margin-right: 11.67px;
}

.cv .cv-username-img .image-div img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.about-div {
  display: flex;
  flex-direction: column;
}

.cv-info .about-div h1 {
  font-size: 27px;
}

.cv .cv-info .about-div {
  max-width: 432px;
}

.cv .cv-info .about-div p {
  font-size: 20px;
  margin-top: 15px;
  line-height: 25px;
  word-break: break-all;
}

.cv .cv-info .about-div h1 {
  font-size: 27px;
  color: var(--secondary-color);
  font-weight: bold;
}
.underline {
  height: 1px;
  width: 662px;
  background-color: #a9a9a9;
  margin-left: 80px;
  margin-top: 50px;
}
